<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios y consulta de facturas</h1>
    <table>        
        <tr>
            <td colspan="4" >
              <h2>
                Consultar Facturas
              </h2>
            </td>
        </tr>
        <tr>            
            <td>
                    <!-- Casilla de verificación 1 -->
                <input type="radio" id="opcion1" name="facturas" value="opcion1">
                <label for="opcion1">Pagadas</label><br>
            </td>
            <td>
                <!-- Casilla de verificación 2 -->
                <input type="radio" id="opcion2" name="facturas" value="opcion2">
                <label for="opcion2">Pendientes de pago</label><br>
            </td>
            <td>
                <!-- Casilla de verificación 3 -->
                <input type="radio" id="opcion3" name="facturas" value="opcion3">
                <label for="opcion3">Todas</label><br>
            </td>
            <td>
                <form action="/usuario/eliminar/" method="GET" style="display: inline;">                    
                    <button type="submit">Consultar</button>
                </form>
            </td>
        </tr>        
    </table>

    <table>        
        <tr>
            <td colspan="4" >
              <h2>
                Gestionar Usuarios
              </h2>
            </td>
        </tr>        
    </table>
    
    
    
    <ul>
        <table>
        <% listaUsuario.forEach(function(usuario) { %>            
                    <tr>
                        <td>
                            <strong><%= usuario.id %></strong>
                        </td>
                        <td>
                            <strong><%= usuario.nombre %></strong>
                        </td>
                        <td>
                            (<%= usuario.descripcion %>)
                        </td>
                        <td>
                            <a href="/usuario/modificar/<%= usuario.id %>">Editar</a>
                        </td>
                        <td>
                            <form action="/usuario/eliminar/<%=usuario.id%>" method="POST" style="display: inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                                                                                                        
        <% }); %>
    </table>
    </ul>
</body>
</html>
