<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>   
    
    <title>Lista de Usuarios</title>
</head>
<body>
    <br>
        <a href="/">Volver al Menú</a>  
    <table style="border-collapse: separate; border-spacing: 10px;">        
        <tr>
            <td colspan="4" >
              <h2>
                Gestionar Usuarios
              </h2>
            </td>
        </tr>    
        <tr>
            <td>
                <a href="/usuario/crear">Crear Nuevo Elemento</a>
            </td>
        </tr>    
    </table>
    
    <br>
    <br>
    
    <ul>
        <table style="border-collapse: separate; border-spacing: 10px;">
        <% listaUsuario.forEach(function(usuario) { %>            
                    <tr>
                        <td>
                            <strong><%= usuario.id %></strong>
                        </td>
                        <td>
                            <strong><%= usuario.nombre %></strong>
                        </td>
                        <td>
                            (<%= usuario.descripcion %>)
                        </td>
                        <td>
                            <a href="/usuario/modificar/<%= usuario.id %>">Editar</a>
                        </td>
                        <td>
                            <form action="/usuario/eliminar/<%=usuario.id%>" method="POST" style="display: inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                                                                                                        
        <% }); %>
    </table>
    </ul>
</body>
</html>
